[user]
	name = George Whiteside
	email = whiteside@reservoir.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
        # git less options--enable color and don't clear screen.
        pager = less -RX
        # When using a shell inside emacs, cat should be used as the pager.
        # pager = cat
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pretty]
	ref = %h (\"%s\", %ad)
