[user]
	name = George Whiteside
	email = whiteside@reservoir.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = emacs
        # git less options--enable color and don't clear screen
        pager = less -RX
        # pager = cat
[color]
	ui = auto
